KEYCLOAK_URL=http://localhost:7080
KEYCLOAK_REALM=demo
KEYCLOAK_CLIENT_ID=public
KEYCLOAK_CLIENT_SECRET=secret

COOKIE_SECURE=false
COOKIE_SAMESITE="Lax"

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=approvementdb